# Borgmatic backups
BORG_REPOSITORY=ssh://backup@example.com/./repos/homelab
BORG_PASSPHRASE=change-me
BORG_SOURCE_PATHS=/source
BORG_EXCLUDE_PATTERNS=/source/**/cache,/source/**/tmp
BORG_KEEP_DAILY=7
BORG_KEEP_WEEKLY=4
BORG_KEEP_MONTHLY=6
BORG_HEALTHCHECK_URL=
BORG_CRON="0 3 * * *"
BORG_TZ=Europe/London
BORG_DATA_PATH=./config
BORG_CACHE_PATH=./cache
BORG_SSH_PATH=./ssh
BACKUP_SOURCE_PATH=/srv
