# Vaultwarden
VAULTWARDEN_TAG=latest
VAULTWARDEN_NAME=vaultwarden
VAULTWARDEN_PORT_HOST=8088
VAULTWARDEN_DATA_PATH=./data
VAULTWARDEN_DOMAIN=https://vault.example.com
VAULTWARDEN_SIGNUPS_ALLOWED=false
VAULTWARDEN_INVITATIONS_ALLOWED=true
VAULTWARDEN_WEBSOCKET_ENABLED=true
VAULTWARDEN_LOG_LEVEL=warn
VAULTWARDEN_ADMIN_TOKEN=
NETWORK_NAME=vaultwarden-net
